<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="../img/favicon.html">

    <title>标签导入</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../assets/gritter/css/jquery.gritter.css" />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href=../css/fileinput.min.css>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo" >江苏有线</a>
        <!--logo end-->

        <div class="top-nav ">
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../img/avatar1_small.jpg">
                        <span class="username">Jhon Doue</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="../login.html"><i class="icon-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" href="../index.html">
                        <i class="icon-dashboard"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="sub-menu active">
                    <a href="javascript:;" class="">
                        <i class="icon-book"></i>
                        <span>设备管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li class="active"><a class="" href="general.html">设备信息管理</a></li>
                        <li><a class="" href="buttons.html">设备标签绑定</a></li>
                        <li><a class="" href="widget.html">设备贴标</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-cogs"></i>
                        <span>线缆管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="../label2/grids.html">线缆信息管理</a></li>
                        <li><a class="" href="../label2/calendar.html">线缆标签绑定</a></li>
                        <li><a class="" href="../label2/charts.html">线缆贴标</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-tasks"></i>
                        <span>任务管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="../task/form_component.html">盘点任务</a></li>
                        <li><a class="" href="../task/form_wizard.html">调拨任务</a></li>
                        <li><a class="" href="../task/form_validation.html">借用任务</a></li>
                        <li><a class="" href="../task/form_task.html">维修任务</a></li>
                        <li><a class="" href="../task/tabledetail.html">报废任务</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-th"></i>
                        <span>日志管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="../log/basic_table.html">盘点任务日志</a></li>
                        <li><a class="" href="../log/basic_table2.html">调拨任务日志</a></li>
                        <li><a class="" href="../log/basic_table3.html">借用任务日志</a></li>
                        <li><a class="" href="../log/basic_table4.html">维修任务日志</a></li>
                        <li><a class="" href="../log/basic_table5.html">操作日志</a></li>
                        <li><a class="" href="../log/basic_table6.html">告警日志</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-glass"></i>
                        <span>系统管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="../system/user.html">账号管理</a></li>
                        <li><a class="" href="../system/role.html">角色管理</a></li>
                        <li><a class="" href="../system/menu.html">菜单管理</a></li>
                        <li><a class="" href="../system/profile.html">机构管理</a></li>
                        <li><a class="" href="../system/invoice.html">机房管理</a></li>
                        <li><a class="" href="../system/jjmangt.html">机架管理</a></li>
                        <li><a class="" href="../system/fenclass.html">设备分类管理</a></li>
                        <li><a class="" href="../system/lablemangt.html">标签管理</a></li>
                        <li><a class="" href="../system/3djfang.html">3D机房</a></li>
                        <li><a class="" href="../404.html">404 Error</a></li>
                        <li><a class="" href="../500.html">500 Error</a></li>
                    </ul>
                </li>
                <li>
                    <a class="" href="../login.html">
                        <i class="icon-user"></i>
                        <span>Login Page</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            导入设备
                        </header>
                    </section>

                </div>
            </div>
            <div class="row col-lg-6">
                <div class="page-header">
                    <h3>选择xls文件</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form enctype="multipart/form-data">
                            <div style="display: flex">
                                <div style="flex: 1">
                                    <input id="file-0" class="file" type="file" multiple data-min-file-count="2">
                                </div>

                            </div>

                            <div style="margin-top: 15px">
                                <button type="submit" class="btn btn-primary">确定</button>
                                <button type="reset" class="btn btn-default">取消</button>
                            </div>
                        </form>
                        <div style="width: 100px;margin-left: 20px">
                            <form id="downFrom" th:action="@{/label/exportLabelModel}" method="get"></form>
                            <button class="btn btn-primary" name="downButton">下载模板</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>
    <!--main content end-->

</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.scrollTo.min.js"></script>
<script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
<!--    <script type="text/javascript" src="../assets/gritter/js/jquery.gritter.js"></script>-->
<script src="../js/fileinput.min.js"></script>
<script type="text/javascript" src="../assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../assets/data-tables/DT_bootstrap.js"></script>
<script th:inline="javascript" th:src="@{/pagejs/system/labelImport.js}"></script>

<!--common script for all pages-->
<script src="../js/common-scripts.js"></script>

<!--script for this page only-->
<!--  <script src="../js/dynamic-table.js"></script>-->

<!--common script for all pages-->

<!--script for this page only-->
<!--    <script src="../js/gritter.js" type="text/javascript"></script>-->


</body>
</html>
