<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="index.html">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>设备管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="label/general.html">设备信息管理</a></li>
                    <li><a class="" href="label/buttons.html">设备标签绑定</a></li>
                    <li><a class="" href="label/widget.html">设备贴标</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>线缆管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="label2/grids.html">线缆信息管理</a></li>
                    <li><a class="" href="label2/calendar.html">线缆标签绑定</a></li>
                    <li><a class="" href="label2/charts.html">线缆贴标</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>任务管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="task/form_component.html">盘点任务</a></li>
                    <li><a class="" href="task/form_wizard.html">调拨任务</a></li>
                    <li><a class="" href="task/form_validation.html">借用任务</a></li>
                    <li><a class="" href="task/form_validation.html">维修任务</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>日志管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="log/basic_table.html">盘点任务日志</a></li>
                    <li><a class="" href="log/dynamic_table.html">调拨任务日志</a></li>
                    <li><a class="" href="log/dynamic_table.html">借用任务日志</a></li>
                    <li><a class="" href="log/dynamic_table.html">维修任务日志</a></li>
                    <li><a class="" href="log/dynamic_table.html">操作日志</a></li>
                    <li><a class="" href="log/dynamic_table.html">告警日志</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-glass"></i>
                    <span>系统管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="./system/blank.html">账号管理</a></li>
                    <li><a class="" href="./system/profile.html">机构管理</a></li>
                    <li><a class="" href="./system/invoice.html">机房管理</a></li>
                    <li><a class="" href="./system/jjmangt.html">机架管理</a></li>
                    <li><a class="" href="./system/invoice.html">设备分类管理</a></li>
                    <li><a class="" href="./system/lablemangt.html">标签管理</a></li>
                    <li><a class="" href="./system/3djfang.html">3D机房</a></li>
                    <li><a class="" href="./404.html">404 Error</a></li>
                    <li><a class="" href="./500.html">500 Error</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="login.html">
                    <i class="icon-user"></i>
                    <span>Login Page</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>